.container__head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container__helper {
  display: flex;
  justify-content: center;
}

.big__photo {
  max-width: 990px;
}

.img {
  width: 100%;
  max-height: 500px;
  cursor: pointer;
}