.modalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}

.modalContent {
  position: relative;
  background: #000;
  padding: 20px;
  border-radius: 4px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.title {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.text {
  margin-bottom: 15px;
}

.text::first-letter {
  margin-left: 15px;
}

.img {
  width: 100%;
  max-height: 100%;
  cursor: pointer;
}