.loader {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: -1;
}

.circle {
    width: 40px;
    height: 40px;
    border: 4px solid #fff;
    border-top: 4px solid #00ff00;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text {
    color: #fff;
    font-size: 18px;
    margin-top: 16px;
}


@media (min-width: 650px) {
    .circle {
        width: 60px;
        height: 60px;
    }
  }
  
  @media (min-width: 1200px) {
    .circle {
        width: 80px;
        height: 80px;
    }
  }