.title {
  max-width: 402px;
  margin-left: 66px;
  color: var(--White-Base, #FFF);
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
}

@media (min-width: 650px) {
  .title {
    margin-left: 362px;
    max-width: 402px;
  }
}

@media (min-width: 1200px) {
  .title {
    margin-left: 500px;
  }
}