.default {
    color: var(--Orange-Base, #F86600);
    font-family: Helvetica;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    border-radius: 16px;
    background: var(--Orange-Smooth, rgba(248, 102, 0, 0.15));
    text-transform: uppercase;
    padding: 2px 11px;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

.active {
    background: yellow;
}

.default:hover {
    color: var(--White-Base, #FFF);
    background: var(--Orange-Base, #F86600);
}

.aside {
    height: 48px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 40px;
    background: var(--Orange-Base, #F86600);
    color: var(--White-Base, #FFF);
    text-transform: uppercase;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}

.aside:hover {
    color: var(--Orange-Base, #F86600);
    background: var(--Orange-Smooth, rgba(248, 102, 0, 0.15));
}

@media (max-width: 350px) {
    .aside {
        font-size: 12px;
    }
    
}

.search {
  display: flex;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--Black, #fff);
  color: #000;
  font-family: Apercu Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}