.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  margin-bottom: 12px;
  max-width: 402px;
  margin-left: 66px;
}

.title {
  align-self: stretch;
  color: var(--White-Base, #FFF);
  font-family: Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.container {
  display: flex;
}

.text {
  color: var(--White-Base, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.active {
  text-decoration-line: underline;
}

.span {
  color: var(--White-Base, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0 3px;
}

@media (min-width: 650px) {
  .header {
    margin-left: 362px;
    max-width: 402px;
  }
}

@media (min-width: 1200px) {
  .header {
    margin-left: 500px;
  }
}