.container {
  position: relative;
}

.info {
  display: flex;
  max-width: 100%;
  padding: 16px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.heading {
  color: #F86600;
  font-family: 'Passion One', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0;
}

.context {
  color: var(--White-Base, #FFF);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.bg {
  position: fixed;
  width: 377px;
  height: 436px;
  background-image: url("../../img/MobileBG.png");
  background-repeat: no-repeat;
  z-index: -10;
}

.main {
  max-width: 279px;
  margin-left: 66px;
}



.heading {
  color: #F86600;
  font-family: 'Passion One', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0;
}

@media (max-width: 351px) {
  .heading {
    font-size: 29px;
  }
}

@media (min-width: 650px) {
  .bg {
    background-image: url("../../img/DecstopBG.png");
  }

  .main {
    margin-left: 362px;
    max-width: 402px;
  }
}