.arrowTop {
  border-radius: 50%;
  cursor: pointer;
  bottom: 10px;
  left: 20px;
  position: fixed;
  padding: 10px;
  background: #232526;
}

@media (min-width: 649px) {
  .arrowTop {
    left: 400px;
  }
}

@media (max-width: 920px) {
  .arrowTop {
    position: fixed;
    z-index: 100;
    bottom: 90px;
  }
  .arrowTopHelper {
    bottom: 5px;
  }
}