.h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.container__main {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.container__main_left {
  text-align: center;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.asteroid {
  width: 36.667px;
  height: 40px;
  flex-shrink: 0;
}

.year {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-decoration-line: underline;
}

.pm {
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}