.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.helper {
  width: 100%;
  max-width: 402px;
  margin-bottom: 80px;
}

@media (min-width: 650px) {
  .helper {
    margin-left: 362px;
    max-width: 402px;
  }
}

@media (min-width: 1200px) {
  .helper {
    margin-left: 500px;
  }
}