.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.helper {
  width: 100%;
  max-width: 402px;
  margin-bottom: 80px;
}

@media (min-width: 650px) {
  .helper {
    margin-left: 362px;
    max-width: 402px;
  }
}

@media (min-width: 1200px) {
  .helper {
    margin-left: 500px;
  }
}

.arrowTop {
  border-radius: 50%;
  bottom: 90px;
  cursor: pointer;
  left: 2px;
  position: fixed;
  padding: 10px;
  background: #232526;
}

.arrowTopHelper {
  bottom: 5px;
}

@media (min-width: 650px) {
  .arrowTop {
  left: 280px;
  }
}

@media (min-width: 1200px) {
  .arrowTop {
  left: 400px;
  }
}

@media (min-width: 619px) and (max-width: 649px) {
  .arrowTop {
    bottom: 5px;
  }
}

@media (min-width: 921px) {
  .arrowTop {
    bottom: 5px;
  }
}