.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.notfound {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text {
    font-size: 1.2rem;
    color: silver;
}